body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-weight: 700;
}

header p {
    margin: 0;
    font-weight: 400;
}

section {
    padding: 2em;
    margin: 1em auto;
    width: 80%;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #bb86fc;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #333;
    margin: 0.5em 0;
    padding: 0.5em;
    border-left: 5px solid #bb86fc;
    font-weight: 400;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1em 0;
}
